[submodule ".zsh/auto-fu"]
	path = .zsh/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = git://github.com/nakamuray/zaw.git
[submodule "modules/git-grep-perl-statement"]
	path = modules/git-grep-perl-statement
	url = https://github.com/hitode909/git-grep-perl-statement.git
