*.o
*.lo
*.la
\#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
Thumbs.db
.prove
TAGS
GTAGS
GPATH
GRTAGS
.zsh/cdd_pwd_list
.zsh/cdd_pwd_list.t
.envrc
*.elc
.ensime
.autoenv.zsh
.autoenv_leave.zsh
.ensime_cache
ensime.sbt
