[include]
	path = .gitconfig.local
[user]
	name = shibayu36
	email = shibayu36@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	editor = code --wait
	excludesfile = /Users/shibayu36/.gitignore
	quotepath = false
[alias]
	st = status -sb
	di = diff
	dic = diff --cached
	pr = pull --rebase
	co = checkout
	ci = commit -v
	br = branch
	stashes = stash list
	graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	fpr = "!f(){ git fetch origin pull/$1/head:$1; git checkout $1; };f"
	stat = log --stat --summary
	showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[push]
	default = current
[branch]
	autosetuprebase = always
[merge]
	ff = false
[rerere]
	enabled = 1
[submodule]
	cachedir = /Users/shibayu36/.cache/git-submodules
[pull]
	rebase = true
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = ~/development/go/src
	root = ~/development/src
[ghi]
	token = !security find-internet-password -a shibayu36 -s github.com -l 'ghi token' -w
[tig]
	main-view = id date author commit-title:graph=yes,refs=yes
	vertical-split = auto
	split-view-height = 80%
	split-view-width  = 66%
[rebase]
	autosquash = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = /Users/shibayu36/.git-templates/git-secrets
