[mysql]
prompt="\u@\h[\d]> "
auto-rehash

[mysqld]
table_open_cache =  400
default-time-zone = '+09:00'
character-set-server = utf8mb4
# explicit-defaults-for-timestamp = on
sql-mode = 'NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO'

[client]
default-character-set = utf8mb4
